
body {
	
}

#wrapper-login{
	width: 350px;
	height: auto;
	min-height: 30px;
	margin-top: 20px;
	margin-bottom: 30px;
}

#footer{
	font-size: .8em;
	color: lightgray;
}

/*****************************************************/
/*LOADING*/
/*****************************************************/
.loading{
	background: #fff url('../img/loading.gif') no-repeat 50% 50% !important;
}